
.project__subtitle{
    font-size: var(--size-s);
    color: var(--clr-indigo);
    text-transform: capitalize;
    font-weight: 400;
}
.project__wrapper{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.project__title{
    font-size: var(--size-xxl);
    color: var(--clr-light);
    text-transform: uppercase;
}
.project__link{
     
    width: var(--size-xxl);
    height: var(--size-xxl);
}
.project__desc{
    max-width: 60ch;
    color: var(--clr-light);
    font-style: var(--size-s);
    margin: 1rem 0;
}
.project__info-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.project__info-container div{
    flex: 1;
    min-width: 250px;
}
.project__label{
     font-size: var(--size-m);
     text-transform: capitalize;
     margin-bottom: 0.25em;
}
.project__tech-stack{
     padding: 0;
     list-style-type: none;
}
.project__info{
    font-size: var(--size-s);
    color: var(--clr-slate600);
    text-transform: capitalize;
}
.project__img-container{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:1rem;
}
.project__img-wrapper{
    position: relative;
}
.project__img-wrapper::after{
    content: '';
    background-color: rgba(79,70,229,0.4);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;left: 0;
    z-index: 1;
    transition: background-color 0.3s;
}
.project__img-wrapper:hover:after{
   background-color: rgba(79,70,229,0.1);
}
@media(min-width:475px){
    .project__title{
        font-size: var(--size-3xl);
    }
    .project__subtitle{
        font-size: var(--size-m);
    }
    .project__link{
     
        width: var(--size-3xl);
        height: var(--size-3xl);
    }
    .project__desc{
        font-style: var(--size-m);
        margin: 1.5rem 0;
    }
    .project__label{
        font-size: var(--size-l);
   }
   .project__info{
       font-size: var(--size-m);
   }
   .project__img-container{
        margin-top: 1.5rem;
        grid-gap: 1.5rem;
      }
}
@media(min-width:640px){
    .project__img-container{
        grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    }
}
@media(min-width:1024px){
    .project__title{
        font-size: var(--size-4xl);
    }
    .project__subtitle{
        font-size: var(--size-l);
    }
    .project__link{
     
        width: var(--size-4xl);
        height: var(--size-4xl);
    }
    .project__desc{
        font-style: var(--size-l);
        
    }
    .project__label{
        font-size: var(--size-xl);
   }
   .project__info{
       font-size: var(--size-l);
   }
}
@media(min-width:1280px){
    .project__title{
        font-size: var(--size-5xl);
    }
    .project__subtitle{
        font-size: var(--size-xl);
    }
    .project__link{
     
        width: var(--size-5xl);
        height: var(--size-5xl);
    }
    .project__desc{
        font-style: var(--size-xl);
        margin: 2rem 0;
    }
    .project__label{
        font-size: var(--size-2xl);
   }
   .project__info{
       font-size: var(--size-xl);
   }
   .project__img-container{
    margin-top: 2rem;
    grid-gap: 2rem;
  }
}
